* {
  box-sizing: border-box;
  margin: 0px;
}

button {
  background-color: white;
}

button:focus {
  outline: none;
}

.recipe_label {
  padding-left: 5px;
  width: 100%;
  height: 2.5rem;

  display: flex;
  align-items: center;

  font-family: Verdana;
  font-size: 1rem;
  overflow: hidden;
  white-space: nowrap;
}

.recipe_ingredientList > h6 {
  font-weight: normal;
  margin-bottom: 5px;
}

.recipe_ingredientList > ul {
  list-style-type: circle;
  margin-bottom: 0.5rem;
  padding-left: 25px;
}

.recipe_tray {
  display: flex;
  justify-content: flex-end;
}

.recipe_btn {
  border: 0px solid white;
  height: 2rem;
  width: 60px;
  border-radius: 5px;
  margin: 2px;
  font-family: 'Quicksand', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_primary {
  border-color: green;
  color: 	#ff99aa;
}

.btn_alert {
  border-color: red;
  color: 	#ff99aa;
}

.recipe_box:hover {
  height: 215px;
}
